.smp-home {
    font-size: 2em;
    text-align: center;
}

.participant-list-btn {
    width: 16%;
    float: right;
    margin-right: 10px;
}

.smp-home .glyphicon {
    font-size: 3em;
    margin: auto;
    width: 100%;
    padding: 10px 10px 0;
}

.smp-home .flex-box {
    display: flex;
    margin: 40px 10px;
}

.smp-home .flex-box .flex-item-5 {
    flex-grow: 5;
    padding-right: 10px;
}

.smp-home .flex-box .flex-item-2 {
    flex-grow: 2;
}

.smp-home .flex-box .flex-item-2 .btn {
    margin: 0;
    width: 100%;
    vertical-align: top;
}

.smp-home .form-group {
    margin-bottom: 0;
}

.smp-home .label.label-none {
    border: none;
    background: transparent;
    color: #666;
}

.smp-home .lookup-result-header {
    width: 100%;
    text-align: center;
    line-height: 0.1em;
    margin: 10px 0 20px;
    border-bottom: 1px solid #ccc;
}

.smp-home .lookup-result-header span {
    padding: 0 10px;
    background: #FFF;
}

.smp-home .lookup-result {
    font-size: 18px;
    padding: 0 10px;
    margin-top: 40px;
    color: #50565e;
}

.smp-home .lookup-result .document-type-wrapper {
    padding: 10px;
}

.smp-home .lookup-result .document-type-wrapper.even {
    background-color: aliceblue;
}

.smp-home .lookup-result .control-label.small {
    height: auto;
    font-size: 12px;
    line-height: 1.5em;
    padding-bottom: 5px;
}

.smp-home .lookup-result .document-more-icon {
    margin: 0;
    font-size: 1em;
    padding: 0 0 0 10px;
}

.smp-home .lookup-result .inner-line {
    width: 50%;
    margin: 10px auto;
    border: 0;
}